# 00. 데이터 가져오기

In [7]:
import pymysql
import pandas as pd

### DB (ver1) 
| docong_test_v1

In [77]:
conn = pymysql.connect(host='localhost', user='ssafy', password='ssafy',
                       db='docong_test_v1', charset='utf8')
cursor = conn.cursor()

In [78]:
# 데이터

def get_data(table):
    cursor.execute(f'SELECT * FROM {table}')
    return cursor.fetchall()

In [79]:
# 컬럼

def get_columns(table):
    cursor.execute(f'SHOW columns FROM {table}')
    columns = cursor.fetchall()
    
    table_columns = []
    for column in columns:
        table_columns.append(column[0])
    
    table_columns[0] = f'{table}_seq'
    return table_columns

#### user

In [80]:
# 데이터
user_data = get_data('user')
user_data

((27,
  b'\x01',
  '2022-03-23',
  'lns960712@gmail.com',
  'MALE',
  'IT/인터넷',
  'ESFJ',
  'ᄋᄂᄉᄂᄋ',
  'google',
  '$2a$10$4n.1nyG21aFB9m/20ON9kuV0tl4IWTZRJFuac2B2iYTDydsuP7ywK',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJsbnM5NjA3MTJAZ21haWwuY29tIiwiZXhwIjoxNjQ5MzA3NjU4LCJlbWFpbCI6Imxuczk2MDcxMkBnbWFpbC5jb20ifQ.6xKj7FEw29xvtk-ncQ851yeK2s6jz70q84td4KMsE7i8BkgPYcxqLST_32OnuUbQszqIcBPOuAGSD3K1D5OR9w'),
 (28,
  b'\x01',
  '1998-01-24',
  'stella1767@naver.com',
  'FEMALE',
  'IT/인터넷',
  'ISFP',
  '유혜승',
  'native',
  '$2a$10$r6ZCdK4ijjXJae3qPvtqsuAWrFG4pNOhd.BAnYSUPMh/3wripzuWG',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzdGVsbGExNzY3QG5hdmVyLmNvbSIsImV4cCI6MTY0OTM4MTQxNSwiZW1haWwiOiJzdGVsbGExNzY3QG5hdmVyLmNvbSJ9.WEDZXXAkVoHCb5jMN5wwHhPRVeO3aFs0RyZ-HHEPTmguRNhH8tKCsx9S-mTIPQFDGsvPxJoH9WOC4XttCnuXqQ'),
 (29,
  b'\x01',
  '1998-01-24',
  'hyeseung0124@gmail.com',
  'FEMALE',
  'IT/인터넷',
  'ISFP',
  '유혜승2',
  'google',
  '$2a$10$4odVLiK63OUbqSHgnTYb6e1K8PixQsTwgXWCgtys8Xf4SjvXYrfSa',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJoeWVzZXVuZzAxMjRAZ21haWwuY29tIiwiZXhwIjoxNjQ5Mjk1NDUzLCJlbWFpbCI6Imh5ZXNldW5nMDEyNEBnbWFpbC5jb20ifQ.CXleoHKUupijJydh-8Rw1zBqDMllCv0QZmSR8UMDg4f0_2uY5PgvjkScmxwZ3Harq7QnLp0TKqsEmCb-D6XlUw'),
 (30,
  b'\x01',
  '1995-07-27T15:00:00.000Z',
  'leejaehee0728@gmail.com',
  'MALE',
  'IT/인터넷',
  'ENTJ',
  '이재희',
  'google',
  '$2a$10$1lVgASxYHvaJ3f58p.YxtOlsl7ka7KXNyQsR4hGINGC0yREdWps5G',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJsZWVqYWVoZWUwNzI4QGdtYWlsLmNvbSIsImV4cCI6MTY0OTM4MTg4NiwiZW1haWwiOiJsZWVqYWVoZWUwNzI4QGdtYWlsLmNvbSJ9.vUqG52WtEWMeaJAubpwPz1za4QvY5-qKo_JM6wYyGRuXyNq_5V10tpT2FwE4aB1mKIZ6EKQzVQ3UbpCQxTrC8Q'),
 (31,
  b'\x01',
  None,
  'rnsqka9924@gmail.com',
  None,
  None,
  None,
  '김영훈',
  'google',
  '$2a$10$33cBdC9YwKDofn1BSeYJK.8Yu1NXdjmeAhLVtjzke2mo.7N0u/6bW',
  None,
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJybnNxa2E5OTI0QGdtYWlsLmNvbSIsImV4cCI6MTY0OTM4MzM4MSwiZW1haWwiOiJybnNxa2E5OTI0QGdtYWlsLmNvbSJ9.awT5UFb59bI1bx8wVdGbjw5mbm9jl7Xy1ksfAyvO8nn8lLGNIShbCIRq-j0HHVmvAXMuYnho5y0vFv1oFh6Obw'),
 (32,
  b'\x01',
  '1996-05-01',
  'hhs28166139@gmail.com',
  'FEMALE',
  'IT/인터넷',
  'ENFP',
  '하현서',
  'google',
  '$2a$10$lOVQVkPpB4zfdJfDyWFR5Ong.J84g9iHFnZAB24XHAfWwvKsa6/nq',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJoaHMyODE2NjEzOUBnbWFpbC5jb20iLCJleHAiOjE2NDkzODQ3MjQsImVtYWlsIjoiaGhzMjgxNjYxMzlAZ21haWwuY29tIn0.IHcXLDSr9yyBbK3O1fLeoigSkMJ37j69KWsT3CLDrRRuOIngJeFHVJwEsOGVfUcX_NtRV53pkV9btUz3QJfqFQ'),
 (33,
  b'\x01',
  '1997-12-14',
  'ju@naver.com',
  'FEMALE',
  'IT/인터넷',
  'ESTP',
  '정으미',
  'native',
  '$2a$10$Q7Xq8dbruYFT5DewsHD/GOLvP294HazDPh3RHrSSt2iw7qmzoJ6mK',
  '0',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJqdUBuYXZlci5jb20iLCJleHAiOjE2NDkzODEwOTAsImVtYWlsIjoianVAbmF2ZXIuY29tIn0.DYafyZA4DT93Lkd50BnofnCesNhAFgmCJRu-3OWDfKd9PuNtSEtP5sTWwDgoKvsC_2m0VRQDW4KWdj3cK9JpZw'),
 (34,
  b'\x01',
  '',
  '1@1',
  '',
  '',
  None,
  '1',
  'native',
  '$2a$10$xLW3R3XVVjDUuDpQCC0ZfOXiOzvfr2g7I3Ulo0QyrwuSoVRsyZ6xC',
  '',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxQDEiLCJleHAiOjE2NDkyMjMxNDEsImVtYWlsIjoiMUAxIn0.rJ4jQ7KBNruWivWeEEMY1TL2r-YwyCJDKEHrt5OfZpS2uwtKGVhZkmPxu3keBgWLE7vEclg3iIFun-VgQcRxZg'),
 (132,
  b'\x01',
  '',
  'rladudgns456@naver.com',
  '',
  '',
  None,
  '김영훈',
  'native',
  '$2a$10$7gDWHEXQ1PpjrnSVTeaFnexqbf04TPo.b4LsQcL5qHtxQyXr18HP2',
  '',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJybGFkdWRnbnM0NTZAbmF2ZXIuY29tIiwiZXhwIjoxNjQ5MzAwMjU1LCJlbWFpbCI6InJsYWR1ZGduczQ1NkBuYXZlci5jb20ifQ.3iJkH0XH9yrN7qe2NTunnpsF6IaTehM2z6j7oPsCgCACuteCiBYoEJZ5RYOHiiiGv7yT-KA_DDU01dHfhmM8Ew'),
 (243,
  b'\x01',
  '',
  'julee@naver.com',
  '',
  '',
  None,
  'wj',
  'native',
  '$2a$10$R.2PgUGuAn9F.yio1iv3zOLKM2xF6V.jUOI76iSTKsXMLdXeAj3q.',
  '',
  'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJqdWxlZUBuYXZlci5jb20iLCJleHAiOjE2NDkzMTAxMDcsImVtYWlsIjoianVsZWVAbmF2ZXIuY29tIn0.8F5XXU9RopOf2Ca1HQTMDDKuifbuY9lRXtXb3v2Hmuvha09Ez80fUMuoJxzDU-N6E9blt9oHgiPgWQW_jF0SQw'))

In [81]:
# 컬럼
user_columns = get_columns('user')
user_columns

['user_seq',
 'activate',
 'birth',
 'email',
 'gender',
 'job',
 'mbti',
 'name',
 'oauth_type',
 'password',
 'position',
 'refresh_token']

In [82]:
# 데이터 프레임
user_df = pd.DataFrame(user_data, columns = user_columns)
user_df

,user_seq,activate,birth,email,gender,job,mbti,name,oauth_type,password,position,refresh_token
0,27,b'\x01',2022-03-23,lns960712@gmail.com,MALE,IT/인터넷,ESFJ,ᄋᄂᄉᄂᄋ,google,$2a$10$4n.1nyG21aFB9m/20ON9kuV0tl4IWTZRJFuac2B...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
1,28,b'\x01',1998-01-24,stella1767@naver.com,FEMALE,IT/인터넷,ISFP,유혜승,native,$2a$10$r6ZCdK4ijjXJae3qPvtqsuAWrFG4pNOhd.BAnYS...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
2,29,b'\x01',1998-01-24,hyeseung0124@gmail.com,FEMALE,IT/인터넷,ISFP,유혜승2,google,$2a$10$4odVLiK63OUbqSHgnTYb6e1K8PixQsTwgXWCgty...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
3,30,b'\x01',1995-07-27T15:00:00.000Z,leejaehee0728@gmail.com,MALE,IT/인터넷,ENTJ,이재희,google,$2a$10$1lVgASxYHvaJ3f58p.YxtOlsl7ka7KXNyQsR4hG...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
4,31,b'\x01',None,rnsqka9924@gmail.com,None,None,None,김영훈,google,$2a$10$33cBdC9YwKDofn1BSeYJK.8Yu1NXdjmeAhLVtjz...,None,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
5,32,b'\x01',1996-05-01,hhs28166139@gmail.com,FEMALE,IT/인터넷,ENFP,하현서,google,$2a$10$lOVQVkPpB4zfdJfDyWFR5Ong.J84g9iHFnZAB24...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
6,33,b'\x01',1997-12-14,ju@naver.com,FEMALE,IT/인터넷,ESTP,정으미,native,$2a$10$Q7Xq8dbruYFT5DewsHD/GOLvP294HazDPh3RHrS...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
7,34,b'\x01',,1@1,,,None,1,native,$2a$10$xLW3R3XVVjDUuDpQCC0ZfOXiOzvfr2g7I3Ulo0Q...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
8,132,b'\x01',,rladudgns456@naver.com,,,None,김영훈,native,$2a$10$7gDWHEXQ1PpjrnSVTeaFnexqbf04TPo.b4LsQcL...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
9,243,b'\x01',,julee@naver.com,,,None,wj,native,$2a$10$R.2PgUGuAn9F.yio1iv3zOLKM2xF6V.jUOI76iS...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...

In [83]:
# 데이터 형식 변경
user_df['activate'] = user_df['activate'].map({b'\x01':1, b'\x00':0})

# 필요없는 컬럼 삭제
user_df.drop(['email', 'name', 'oauth_type', 'password', 'refresh_token'], axis=1)
user_df

,user_seq,activate,birth,email,gender,job,mbti,name,oauth_type,password,position,refresh_token
0,27,1,2022-03-23,lns960712@gmail.com,MALE,IT/인터넷,ESFJ,ᄋᄂᄉᄂᄋ,google,$2a$10$4n.1nyG21aFB9m/20ON9kuV0tl4IWTZRJFuac2B...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
1,28,1,1998-01-24,stella1767@naver.com,FEMALE,IT/인터넷,ISFP,유혜승,native,$2a$10$r6ZCdK4ijjXJae3qPvtqsuAWrFG4pNOhd.BAnYS...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
2,29,1,1998-01-24,hyeseung0124@gmail.com,FEMALE,IT/인터넷,ISFP,유혜승2,google,$2a$10$4odVLiK63OUbqSHgnTYb6e1K8PixQsTwgXWCgty...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
3,30,1,1995-07-27T15:00:00.000Z,leejaehee0728@gmail.com,MALE,IT/인터넷,ENTJ,이재희,google,$2a$10$1lVgASxYHvaJ3f58p.YxtOlsl7ka7KXNyQsR4hG...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
4,31,1,None,rnsqka9924@gmail.com,None,None,None,김영훈,google,$2a$10$33cBdC9YwKDofn1BSeYJK.8Yu1NXdjmeAhLVtjz...,None,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
5,32,1,1996-05-01,hhs28166139@gmail.com,FEMALE,IT/인터넷,ENFP,하현서,google,$2a$10$lOVQVkPpB4zfdJfDyWFR5Ong.J84g9iHFnZAB24...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
6,33,1,1997-12-14,ju@naver.com,FEMALE,IT/인터넷,ESTP,정으미,native,$2a$10$Q7Xq8dbruYFT5DewsHD/GOLvP294HazDPh3RHrS...,0,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
7,34,1,,1@1,,,None,1,native,$2a$10$xLW3R3XVVjDUuDpQCC0ZfOXiOzvfr2g7I3Ulo0Q...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
8,132,1,,rladudgns456@naver.com,,,None,김영훈,native,$2a$10$7gDWHEXQ1PpjrnSVTeaFnexqbf04TPo.b4LsQcL...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...
9,243,1,,julee@naver.com,,,None,wj,native,$2a$10$R.2PgUGuAn9F.yio1iv3zOLKM2xF6V.jUOI76iS...,,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiO...

#### team

In [52]:
# 데이터
team_data = get_data('team')
team_data

()

#### team_user

In [53]:
# 데이터
team_user_data = get_data('team_user')
team_user_data

()

#### todo

In [54]:
# 데이터
todo_data = get_data('todo')
todo_data

((17,
  datetime.datetime(2022, 3, 23, 5, 21, 1),
  datetime.datetime(2022, 3, 24, 4, 48, 2),
  'Navbar 레이아웃 구성 및 Router 연결',
  8,
  3,
  1,
  'Navbar 제작',
  3,
  1,
  2,
  None),
 (19,
  datetime.datetime(2022, 3, 23, 5, 21, 55),
  datetime.datetime(2022, 3, 23, 8, 22, 29),
  'SVM이 뭔지 공부하고 실습하기',
  4,
  1,
  1,
  'SVM공부하기',
  3,
  2,
  13,
  None),
 (23,
  datetime.datetime(2022, 3, 23, 5, 29, 18),
  datetime.datetime(2022, 3, 24, 0, 32, 12),
  'Jira API Token 암호화 수정',
  2,
  2,
  2,
  'Jira API Token 암호화 수정',
  3,
  0,
  4,
  None),
 (25,
  datetime.datetime(2022, 3, 23, 5, 29, 48),
  datetime.datetime(2022, 3, 23, 7, 55, 25),
  '재희가 남긴 프론트코드를 분석해보자ㅏㅏㅏㅏㅏㅏㅏㅏ',
  4,
  2,
  0,
  '프론트코드 분석',
  3,
  0,
  6,
  None),
 (27,
  datetime.datetime(2022, 3, 23, 5, 31, 51),
  datetime.datetime(2022, 3, 24, 0, 59, 39),
  '회원 관리 목업',
  3,
  4,
  2,
  '목업만들기',
  3,
  1,
  2,
  None),
 (30,
  datetime.datetime(2022, 3, 23, 6, 1, 36),
  datetime.datetime(2022, 3, 23, 7, 22, 58),
  '머신러닝 상관관계 학습',
  2,
  2,
  1,
  '상관관계 학습',
  4,
  0,
  4,
  None),
 (32,
  datetime.datetime(2022, 3, 23, 6, 7, 51),
  datetime.datetime(2022, 3, 23, 15, 22, 12),
  'Timer Layout 작성하기',
  8,
  0,
  0,
  'Timer Layout 작성',
  4,
  2,
  2,
  None),
 (34,
  datetime.datetime(2022, 3, 23, 6, 8, 19),
  datetime.datetime(2022, 3, 23, 14, 42, 13),
  'Kanban Board Layout 작성하기',
  8,
  0,
  0,
  'Kanban Board Layout 작성',
  4,
  3,
  2,
  None),
 (43,
  datetime.datetime(2022, 3, 23, 6, 17, 1),
  datetime.datetime(2022, 3, 23, 6, 38, 45),
  '구글 로그인 시 Refresh Token 생성 및 DB 저장',
  1,
  1,
  2,
  '구글로그인 시 RefreshToken 생성',
  0,
  1,
  4,
  None),
 (48,
  datetime.datetime(2022, 3, 23, 6, 22, 42),
  datetime.datetime(2022, 3, 23, 14, 15, 34),
  'Pomodoro Timer 입력 데이터 정리 및 오류 수정',
  4,
  3,
  2,
  'Pomodoro Timer 입력 데이터 정리',
  1,
  2,
  5,
  None),
 (147,
  datetime.datetime(2022, 3, 24, 0, 32, 56),
  datetime.datetime(2022, 3, 24, 0, 54, 23),
  '프로그래머스 더 맵게',
  1,
  1,
  2,
  '알고리즘 문제 풀이',
  2,
  1,
  13,
  None),
 (150,
  datetime.datetime(2022, 3, 24, 0, 57, 27),
  datetime.datetime(2022, 3, 24, 0, 57, 27),
  '프로그래머스 뉴스 클러스터링',
  1,
  0,
  0,
  '알고리즘 문제풀이',
  2,
  1,
  13,
  None),
 (152,
  datetime.datetime(2022, 3, 24, 1, 0, 25),
  datetime.datetime(2022, 3, 24, 1, 49, 4),
  '상관관계 분석 튜토리얼',
  5,
  0,
  1,
  'sklearn 튜토리얼',
  3,
  0,
  4,
  None),
 (154,
  datetime.datetime(2022, 3, 24, 1, 18, 22),
  datetime.datetime(2022, 3, 24, 4, 22, 9),
  '시각화, 카테고리, EDA',
  3,
  0,
  1,
  '데이터 핸들링 튜토리얼',
  2,
  2,
  6,
  None),
 (160,
  datetime.datetime(2022, 3, 24, 2, 0, 31),
  datetime.datetime(2022, 3, 24, 3, 0, 19),
  'extension 수정',
  5,
  2,
  1,
  'Extension 수정',
  2,
  3,
  4,
  None))

In [55]:
# 컬럼
todo_columns = get_columns('todo')
todo_columns

['todo_seq',
 'created_date',
 'modified_date',
 'content',
 'predicted_pomo',
 'real_pomo',
 'status',
 'title',
 'work_importance',
 'work_proficiency',
 'work_type',
 'team_seq']

In [56]:
# 데이터 프레임
todo_df = pd.DataFrame(todo_data, columns = todo_columns)
todo_df

,todo_seq,created_date,modified_date,content,predicted_pomo,real_pomo,status,title,work_importance,work_proficiency,work_type,team_seq
0,17,2022-03-23 05:21:01,2022-03-24 04:48:02,Navbar 레이아웃 구성 및 Router 연결,8,3,1,Navbar 제작,3,1,2,None
1,19,2022-03-23 05:21:55,2022-03-23 08:22:29,SVM이 뭔지 공부하고 실습하기,4,1,1,SVM공부하기,3,2,13,None
2,23,2022-03-23 05:29:18,2022-03-24 00:32:12,Jira API Token 암호화 수정,2,2,2,Jira API Token 암호화 수정,3,0,4,None
3,25,2022-03-23 05:29:48,2022-03-23 07:55:25,재희가 남긴 프론트코드를 분석해보자ㅏㅏㅏㅏㅏㅏㅏㅏ,4,2,0,프론트코드 분석,3,0,6,None
4,27,2022-03-23 05:31:51,2022-03-24 00:59:39,회원 관리 목업,3,4,2,목업만들기,3,1,2,None
5,30,2022-03-23 06:01:36,2022-03-23 07:22:58,머신러닝 상관관계 학습,2,2,1,상관관계 학습,4,0,4,None
6,32,2022-03-23 06:07:51,2022-03-23 15:22:12,Timer Layout 작성하기,8,0,0,Timer Layout 작성,4,2,2,None
7,34,2022-03-23 06:08:19,2022-03-23 14:42:13,Kanban Board Layout 작성하기,8,0,0,Kanban Board Layout 작성,4,3,2,None
8,43,2022-03-23 06:17:01,2022-03-23 06:38:45,구글 로그인 시 Refresh Token 생성 및 DB 저장,1,1,2,구글로그인 시 RefreshToken 생성,0,1,4,None
9,48,2022-03-23 06:22:42,2022-03-23 14:15:34,Pomodoro Timer 입력 데이터 정리 및 오류 수정,4,3,2,Pomodoro Timer 입력 데이터 정리,1,2,5,None
10,147,2022-03-24 00:32:56,2022-03-24 00:54:23,프로그래머스 더 맵게,1,1,2,알고리즘 문제 풀이,2,1,13,None
11,150,2022-03-24 00:57:27,2022-03-24 00:57:27,프로그래머스 뉴스 클러스터링,1,0,0,알고리즘 문제풀이,2,1,13,None
12,152,2022-03-24 01:00:25,2022-03-24 01:49:04,상관관계 분석 튜토리얼,5,0,1,sklearn 튜토리얼,3,0,4,None
13,154,2022-03-24 01:18:22,2022-03-24 04:22:09,"시각화, 카테고리, EDA",3,0,1,데이터 핸들링 튜토리얼,2,2,6,None
14,160,2022-03-24 02:00:31,2022-03-24 03:00:19,extension 수정,5,2,1,Extension 수정,2,3,4,None

In [57]:
# 필요없는 컬럼 삭제
todo_df = todo_df.drop(['content', 'title'], axis=1)
todo_df

,todo_seq,created_date,modified_date,predicted_pomo,real_pomo,status,work_importance,work_proficiency,work_type,team_seq
0,17,2022-03-23 05:21:01,2022-03-24 04:48:02,8,3,1,3,1,2,None
1,19,2022-03-23 05:21:55,2022-03-23 08:22:29,4,1,1,3,2,13,None
2,23,2022-03-23 05:29:18,2022-03-24 00:32:12,2,2,2,3,0,4,None
3,25,2022-03-23 05:29:48,2022-03-23 07:55:25,4,2,0,3,0,6,None
4,27,2022-03-23 05:31:51,2022-03-24 00:59:39,3,4,2,3,1,2,None
5,30,2022-03-23 06:01:36,2022-03-23 07:22:58,2,2,1,4,0,4,None
6,32,2022-03-23 06:07:51,2022-03-23 15:22:12,8,0,0,4,2,2,None
7,34,2022-03-23 06:08:19,2022-03-23 14:42:13,8,0,0,4,3,2,None
8,43,2022-03-23 06:17:01,2022-03-23 06:38:45,1,1,2,0,1,4,None
9,48,2022-03-23 06:22:42,2022-03-23 14:15:34,4,3,2,1,2,5,None
10,147,2022-03-24 00:32:56,2022-03-24 00:54:23,1,1,2,2,1,13,None
11,150,2022-03-24 00:57:27,2022-03-24 00:57:27,1,0,0,2,1,13,None
12,152,2022-03-24 01:00:25,2022-03-24 01:49:04,5,0,1,3,0,4,None
13,154,2022-03-24 01:18:22,2022-03-24 04:22:09,3,0,1,2,2,6,None
14,160,2022-03-24 02:00:31,2022-03-24 03:00:19,5,2,1,2,3,4,None

#### user_todo

In [58]:
# 데이터
user_todo_data = get_data('user_todo')
user_todo_data

((18,
  datetime.datetime(2022, 3, 23, 5, 21, 1),
  datetime.datetime(2022, 3, 23, 5, 21, 1),
  17,
  30),
 (20,
  datetime.datetime(2022, 3, 23, 5, 21, 55),
  datetime.datetime(2022, 3, 23, 5, 21, 55),
  19,
  27),
 (24,
  datetime.datetime(2022, 3, 23, 5, 29, 18),
  datetime.datetime(2022, 3, 23, 5, 29, 18),
  23,
  32),
 (26,
  datetime.datetime(2022, 3, 23, 5, 29, 48),
  datetime.datetime(2022, 3, 23, 5, 29, 48),
  25,
  28),
 (28,
  datetime.datetime(2022, 3, 23, 5, 31, 51),
  datetime.datetime(2022, 3, 23, 5, 31, 51),
  27,
  33),
 (31,
  datetime.datetime(2022, 3, 23, 6, 1, 36),
  datetime.datetime(2022, 3, 23, 6, 1, 36),
  30,
  31),
 (33,
  datetime.datetime(2022, 3, 23, 6, 7, 51),
  datetime.datetime(2022, 3, 23, 6, 7, 51),
  32,
  30),
 (35,
  datetime.datetime(2022, 3, 23, 6, 8, 19),
  datetime.datetime(2022, 3, 23, 6, 8, 19),
  34,
  30),
 (44,
  datetime.datetime(2022, 3, 23, 6, 17, 1),
  datetime.datetime(2022, 3, 23, 6, 17, 1),
  43,
  28),
 (49,
  datetime.datetime(2022, 3, 23, 6, 22, 42),
  datetime.datetime(2022, 3, 23, 6, 22, 42),
  48,
  30),
 (148,
  datetime.datetime(2022, 3, 24, 0, 32, 56),
  datetime.datetime(2022, 3, 24, 0, 32, 56),
  147,
  32),
 (151,
  datetime.datetime(2022, 3, 24, 0, 57, 27),
  datetime.datetime(2022, 3, 24, 0, 57, 27),
  150,
  32),
 (153,
  datetime.datetime(2022, 3, 24, 1, 0, 25),
  datetime.datetime(2022, 3, 24, 1, 0, 25),
  152,
  33),
 (155,
  datetime.datetime(2022, 3, 24, 1, 18, 22),
  datetime.datetime(2022, 3, 24, 1, 18, 22),
  154,
  32),
 (161,
  datetime.datetime(2022, 3, 24, 2, 0, 31),
  datetime.datetime(2022, 3, 24, 2, 0, 31),
  160,
  33))

In [61]:
# 컬럼
user_todo_columns = get_columns('user_todo')
user_todo_columns

['user_todo_seq', 'created_date', 'modified_date', 'todo_seq', 'user_seq']

In [62]:
# 데이터 프레임
user_todo_df = pd.DataFrame(user_todo_data, columns = user_todo_columns)
user_todo_df

    user_todo_seq        created_date       modified_date  todo_seq  user_seq
0              18 2022-03-23 05:21:01 2022-03-23 05:21:01        17        30
1              20 2022-03-23 05:21:55 2022-03-23 05:21:55        19        27
2              24 2022-03-23 05:29:18 2022-03-23 05:29:18        23        32
3              26 2022-03-23 05:29:48 2022-03-23 05:29:48        25        28
4              28 2022-03-23 05:31:51 2022-03-23 05:31:51        27        33
5              31 2022-03-23 06:01:36 2022-03-23 06:01:36        30        31
6              33 2022-03-23 06:07:51 2022-03-23 06:07:51        32        30
7              35 2022-03-23 06:08:19 2022-03-23 06:08:19        34        30
8              44 2022-03-23 06:17:01 2022-03-23 06:17:01        43        28
9              49 2022-03-23 06:22:42 2022-03-23 06:22:42        48        30
10            148 2022-03-24 00:32:56 2022-03-24 00:32:56       147        32
11            151 2022-03-24 00:57:27 2022-03-24 00:57:27       150        32
12            153 2022-03-24 01:00:25 2022-03-24 01:00:25       152        33
13            155 2022-03-24 01:18:22 2022-03-24 01:18:22       154        32
14            161 2022-03-24 02:00:31 2022-03-24 02:00:31       160        33

In [67]:
# 필요없는 컬럼 삭제
user_todo_df = user_todo_df.drop(['created_date', 'modified_date'], axis=1)
user_todo_df

    user_todo_seq  todo_seq  user_seq
0              18        17        30
1              20        19        27
2              24        23        32
3              26        25        28
4              28        27        33
5              31        30        31
6              33        32        30
7              35        34        30
8              44        43        28
9              49        48        30
10            148       147        32
11            151       150        32
12            153       152        33
13            155       154        32
14            161       160        33

#### pomodoro

In [64]:
# 데이터
pomodoro_data = get_data('pomodoro')
pomodoro_data

((29,
  datetime.datetime(2022, 3, 23, 6, 0, 23),
  datetime.datetime(2022, 3, 23, 6, 0, 23),
  datetime.datetime(2022, 3, 23, 14, 45, 23),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 15, 0, 23),
  'SHORT',
  19,
  27),
 (69,
  datetime.datetime(2022, 3, 23, 6, 27, 23),
  datetime.datetime(2022, 3, 23, 6, 27, 23),
  datetime.datetime(2022, 3, 23, 15, 12, 23),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 15, 27, 23),
  'SHORT',
  27,
  33),
 (70,
  datetime.datetime(2022, 3, 23, 6, 37, 55),
  datetime.datetime(2022, 3, 23, 6, 37, 55),
  datetime.datetime(2022, 3, 23, 15, 22, 55),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 15, 37, 55),
  'SHORT',
  43,
  28),
 (112,
  datetime.datetime(2022, 3, 23, 6, 55, 9),
  datetime.datetime(2022, 3, 23, 6, 55, 9),
  datetime.datetime(2022, 3, 23, 15, 40, 8),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 15, 55, 8),
  'SHORT',
  30,
  31),
 (113,
  datetime.datetime(2022, 3, 23, 6, 57, 1),
  datetime.datetime(2022, 3, 23, 6, 57, 1),
  datetime.datetime(2022, 3, 23, 15, 42),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 15, 57),
  'SHORT',
  27,
  33),
 (114,
  datetime.datetime(2022, 3, 23, 7, 0, 50),
  datetime.datetime(2022, 3, 23, 7, 0, 50),
  datetime.datetime(2022, 3, 23, 15, 45, 50),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 0, 50),
  'SHORT',
  25,
  28),
 (115,
  datetime.datetime(2022, 3, 23, 7, 22, 58),
  datetime.datetime(2022, 3, 23, 7, 22, 58),
  datetime.datetime(2022, 3, 23, 16, 7, 58),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 22, 58),
  'SHORT',
  30,
  31),
 (116,
  datetime.datetime(2022, 3, 23, 7, 26, 15),
  datetime.datetime(2022, 3, 23, 7, 26, 15),
  datetime.datetime(2022, 3, 23, 16, 11, 15),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 26, 15),
  'SHORT',
  27,
  33),
 (117,
  datetime.datetime(2022, 3, 23, 7, 27, 59),
  datetime.datetime(2022, 3, 23, 7, 27, 59),
  datetime.datetime(2022, 3, 23, 15, 38),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 28),
  'LONG',
  23,
  32),
 (118,
  datetime.datetime(2022, 3, 23, 7, 29, 33),
  datetime.datetime(2022, 3, 23, 7, 29, 33),
  datetime.datetime(2022, 3, 23, 15, 39, 31),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 29, 31),
  'LONG',
  48,
  30),
 (119,
  datetime.datetime(2022, 3, 23, 7, 55, 25),
  datetime.datetime(2022, 3, 23, 7, 55, 25),
  datetime.datetime(2022, 3, 23, 16, 5, 25),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 55, 25),
  'LONG',
  25,
  28),
 (120,
  datetime.datetime(2022, 3, 23, 7, 58, 2),
  datetime.datetime(2022, 3, 23, 7, 58, 2),
  datetime.datetime(2022, 3, 23, 16, 43, 2),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 16, 58, 2),
  'SHORT',
  27,
  33),
 (121,
  datetime.datetime(2022, 3, 23, 8, 42, 58),
  datetime.datetime(2022, 3, 23, 8, 42, 58),
  datetime.datetime(2022, 3, 23, 16, 52, 55),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 17, 42, 55),
  'LONG',
  48,
  30),
 (141,
  datetime.datetime(2022, 3, 23, 14, 13, 30),
  datetime.datetime(2022, 3, 23, 14, 13, 30),
  datetime.datetime(2022, 3, 23, 22, 23, 29),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 23, 13, 29),
  'LONG',
  48,
  30),
 (142,
  datetime.datetime(2022, 3, 23, 14, 21, 22),
  datetime.datetime(2022, 3, 23, 14, 21, 22),
  datetime.datetime(2022, 3, 23, 22, 31, 22),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 23, 21, 22),
  'LONG',
  23,
  32),
 (143,
  datetime.datetime(2022, 3, 23, 14, 39, 56),
  datetime.datetime(2022, 3, 23, 14, 39, 56),
  datetime.datetime(2022, 3, 23, 23, 24, 55),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 23, 23, 39, 55),
  'SHORT',
  None,
  30),
 (144,
  datetime.datetime(2022, 3, 23, 15, 15, 41),
  datetime.datetime(2022, 3, 23, 15, 15, 41),
  datetime.datetime(2022, 3, 23, 23, 50, 40),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 0, 15, 40),
  'BASIC',
  17,
  30),
 (149,
  datetime.datetime(2022, 3, 24, 0, 54, 2),
  datetime.datetime(2022, 3, 24, 0, 54, 2),
  datetime.datetime(2022, 3, 24, 9, 39, 2),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 9, 54, 2),
  'SHORT',
  147,
  32),
 (162,
  datetime.datetime(2022, 3, 24, 2, 36, 16),
  datetime.datetime(2022, 3, 24, 2, 36, 16),
  datetime.datetime(2022, 3, 24, 11, 21, 16),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 11, 36, 16),
  'SHORT',
  160,
  33),
 (163,
  datetime.datetime(2022, 3, 24, 2, 39, 57),
  datetime.datetime(2022, 3, 24, 2, 39, 57),
  datetime.datetime(2022, 3, 24, 10, 49, 56),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 11, 39, 56),
  'LONG',
  17,
  30),
 (176,
  datetime.datetime(2022, 3, 24, 3, 0, 19),
  datetime.datetime(2022, 3, 24, 3, 0, 19),
  datetime.datetime(2022, 3, 24, 11, 45, 19),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 12, 0, 19),
  'SHORT',
  160,
  33),
 (234,
  datetime.datetime(2022, 3, 24, 4, 48, 2),
  datetime.datetime(2022, 3, 24, 4, 48, 2),
  datetime.datetime(2022, 3, 24, 13, 23),
  'COMMON',
  0,
  datetime.datetime(2022, 3, 24, 13, 48),
  'BASIC',
  17,
  30))

In [65]:
# 컬럼
pomodoro_columns = get_columns('pomodoro')
pomodoro_columns

['pomodoro_seq',
 'created_date',
 'modified_date',
 'end_time',
 'noise',
 'other_time',
 'start_time',
 'time_status',
 'todo_seq',
 'user_seq']

In [66]:
# 데이터 프레임
pomodoro_df = pd.DataFrame(pomodoro_data, columns = pomodoro_columns)
pomodoro_df

,pomodoro_seq,created_date,modified_date,end_time,noise,other_time,start_time,time_status,todo_seq,user_seq
0,29,2022-03-23 06:00:23,2022-03-23 06:00:23,2022-03-23 14:45:23,COMMON,0,2022-03-23 15:00:23,SHORT,19.0,27
1,69,2022-03-23 06:27:23,2022-03-23 06:27:23,2022-03-23 15:12:23,COMMON,0,2022-03-23 15:27:23,SHORT,27.0,33
2,70,2022-03-23 06:37:55,2022-03-23 06:37:55,2022-03-23 15:22:55,COMMON,0,2022-03-23 15:37:55,SHORT,43.0,28
3,112,2022-03-23 06:55:09,2022-03-23 06:55:09,2022-03-23 15:40:08,COMMON,0,2022-03-23 15:55:08,SHORT,30.0,31
4,113,2022-03-23 06:57:01,2022-03-23 06:57:01,2022-03-23 15:42:00,COMMON,0,2022-03-23 15:57:00,SHORT,27.0,33
5,114,2022-03-23 07:00:50,2022-03-23 07:00:50,2022-03-23 15:45:50,COMMON,0,2022-03-23 16:00:50,SHORT,25.0,28
6,115,2022-03-23 07:22:58,2022-03-23 07:22:58,2022-03-23 16:07:58,COMMON,0,2022-03-23 16:22:58,SHORT,30.0,31
7,116,2022-03-23 07:26:15,2022-03-23 07:26:15,2022-03-23 16:11:15,COMMON,0,2022-03-23 16:26:15,SHORT,27.0,33
8,117,2022-03-23 07:27:59,2022-03-23 07:27:59,2022-03-23 15:38:00,COMMON,0,2022-03-23 16:28:00,LONG,23.0,32
9,118,2022-03-23 07:29:33,2022-03-23 07:29:33,2022-03-23 15:39:31,COMMON,0,2022-03-23 16:29:31,LONG,48.0,30
10,119,2022-03-23 07:55:25,2022-03-23 07:55:25,2022-03-23 16:05:25,COMMON,0,2022-03-23 16:55:25,LONG,25.0,28
11,120,2022-03-23 07:58:02,2022-03-23 07:58:02,2022-03-23 16:43:02,COMMON,0,2022-03-23 16:58:02,SHORT,27.0,33
12,121,2022-03-23 08:42:58,2022-03-23 08:42:58,2022-03-23 16:52:55,COMMON,0,2022-03-23 17:42:55,LONG,48.0,30
13,141,2022-03-23 14:13:30,2022-03-23 14:13:30,2022-03-23 22:23:29,COMMON,0,2022-03-23 23:13:29,LONG,48.0,30
14,142,2022-03-23 14:21:22,2022-03-23 14:21:22,2022-03-23 22:31:22,COMMON,0,2022-03-23 23:21:22,LONG,23.0,32
15,143,2022-03-23 14:39:56,2022-03-23 14:39:56,2022-03-23 23:24:55,COMMON,0,2022-03-23 23:39:55,SHORT,NaN,30
16,144,2022-03-23 15:15:41,2022-03-23 15:15:41,2022-03-23 23:50:40,COMMON,0,2022-03-24 00:15:40,BASIC,17.0,30
17,149,2022-03-24 00:54:02,2022-03-24 00:54:02,2022-03-24 09:39:02,COMMON,0,2022-03-24 09:54:02,SHORT,147.0,32
18,162,2022-03-24 02:36:16,2022-03-24 02:36:16,2022-03-24 11:21:16,COMMON,0,2022-03-24 11:36:16,SHORT,160.0,33
19,163,2022-03-24 02:39:57,2022-03-24 02:39:57,2022-03-24 10:49:56,COMMON,0,2022-03-24 11:39:56,LONG,17.0,30
20,176,2022-03-24 03:00:19,2022-03-24 03:00:19,2022-03-24 11:45:19,COMMON,0,2022-03-24 12:00:19,SHORT,160.0,33
21,234,2022-03-24 04:48:02,2022-03-24 04:48:02,2022-03-24 13:23:00,COMMON,0,2022-03-24 13:48:00,BASIC,17.0,30

In [68]:
pomodoro_df.dtypes

pomodoro_seq              int64
created_date     datetime64[ns]
modified_date    datetime64[ns]
end_time         datetime64[ns]
noise                    object
other_time                int64
start_time       datetime64[ns]
time_status              object
todo_seq                float64
user_seq                  int64
dtype: object

In [70]:
# float -> int 타입 변경
# pomodoro_df = pomodoro_df.astype({'todo_seq':'int'})
# NaN 값 때문에 int형 지원안되고 float

# 필요없는 컬럼 삭제
pomodoro_df = pomodoro_df.drop(['created_date', 'modified_date'], axis=1)
pomodoro_df

,pomodoro_seq,end_time,noise,other_time,start_time,time_status,todo_seq,user_seq
0,29,2022-03-23 14:45:23,COMMON,0,2022-03-23 15:00:23,SHORT,19.0,27
1,69,2022-03-23 15:12:23,COMMON,0,2022-03-23 15:27:23,SHORT,27.0,33
2,70,2022-03-23 15:22:55,COMMON,0,2022-03-23 15:37:55,SHORT,43.0,28
3,112,2022-03-23 15:40:08,COMMON,0,2022-03-23 15:55:08,SHORT,30.0,31
4,113,2022-03-23 15:42:00,COMMON,0,2022-03-23 15:57:00,SHORT,27.0,33
5,114,2022-03-23 15:45:50,COMMON,0,2022-03-23 16:00:50,SHORT,25.0,28
6,115,2022-03-23 16:07:58,COMMON,0,2022-03-23 16:22:58,SHORT,30.0,31
7,116,2022-03-23 16:11:15,COMMON,0,2022-03-23 16:26:15,SHORT,27.0,33
8,117,2022-03-23 15:38:00,COMMON,0,2022-03-23 16:28:00,LONG,23.0,32
9,118,2022-03-23 15:39:31,COMMON,0,2022-03-23 16:29:31,LONG,48.0,30
10,119,2022-03-23 16:05:25,COMMON,0,2022-03-23 16:55:25,LONG,25.0,28
11,120,2022-03-23 16:43:02,COMMON,0,2022-03-23 16:58:02,SHORT,27.0,33
12,121,2022-03-23 16:52:55,COMMON,0,2022-03-23 17:42:55,LONG,48.0,30
13,141,2022-03-23 22:23:29,COMMON,0,2022-03-23 23:13:29,LONG,48.0,30
14,142,2022-03-23 22:31:22,COMMON,0,2022-03-23 23:21:22,LONG,23.0,32
15,143,2022-03-23 23:24:55,COMMON,0,2022-03-23 23:39:55,SHORT,NaN,30
16,144,2022-03-23 23:50:40,COMMON,0,2022-03-24 00:15:40,BASIC,17.0,30
17,149,2022-03-24 09:39:02,COMMON,0,2022-03-24 09:54:02,SHORT,147.0,32
18,162,2022-03-24 11:21:16,COMMON,0,2022-03-24 11:36:16,SHORT,160.0,33
19,163,2022-03-24 10:49:56,COMMON,0,2022-03-24 11:39:56,LONG,17.0,30
20,176,2022-03-24 11:45:19,COMMON,0,2022-03-24 12:00:19,SHORT,160.0,33
21,234,2022-03-24 13:23:00,COMMON,0,2022-03-24 13:48:00,BASIC,17.0,30